<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
            <li *ngFor="let tempProductCategory of productCategories">
                <!-- Loop over categories and build links dynamically -->
                <a routerLink="/category/{{ tempProductCategory.id }}" routerLinkActive="active-link">
                    {{ tempProductCategory.categoryName }}
                    <!-- Display categry name -->
                </a>
            </li>
            <!-- <li> -->
                <!-- <a href="#">Books</a> -->
                <!-- <a routerLink="/category/1" routerLinkActive="active-link">Books</a>
            </li>
            <li>
                <a routerLink="/category/2" routerLinkActive="active-link">Coffee Mugs</a>
            </li> -->
            <!-- <li>
            <a href="#">Mouse Pads</a>
            </li>
            <li>
            <a href="#">Luggage Tags</a>
            </li> -->
        </ul>
    </nav>
</div>